<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741152951684-p5unbotb8jp8ls23c5st9ufp6oaskok2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741152951684-p5unbotb8jp8ls23c5st9ufp6oaskok2</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ecc9EcoL4pB4vOLmbhTjKeHk02O6JZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>741152951684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thomasG.apartments</string>
	<key>PROJECT_ID</key>
	<string>apartments-a4a78</string>
	<key>STORAGE_BUCKET</key>
	<string>apartments-a4a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741152951684:ios:53d4ae7a310b9bc6ab61d1</string>
	<key>DATABASE_URL</key>
	<string>https://apartments-a4a78.firebaseio.com</string>
</dict>
</plist>